In [10]:
#  Use pandas to read the CSV file containing the dataset previously downloaded from the UC Irvine Machine Learning Repository site.

import pandas as pd

data = pd.read_csv(r'C:/Users/excel/Downloads/appliances+energy+prediction/energydata_complete.csv')
# same function if you're importing dataset from an online URL
print(data.head)

<bound method NDFrame.head of                       date  Appliances  lights         T1       RH_1  \
0      2016-01-11 17:00:00          60      30  19.890000  47.596667
1      2016-01-11 17:10:00          60      30  19.890000  46.693333
2      2016-01-11 17:20:00          50      30  19.890000  46.300000
3      2016-01-11 17:30:00          50      40  19.890000  46.066667
4      2016-01-11 17:40:00          60      40  19.890000  46.333333
...                    ...         ...     ...        ...        ...
19730  2016-05-27 17:20:00         100       0  25.566667  46.560000
19731  2016-05-27 17:30:00          90       0  25.500000  46.500000
19732  2016-05-27 17:40:00         270      10  25.500000  46.596667
19733  2016-05-27 17:50:00         420      10  25.500000  46.990000
19734  2016-05-27 18:00:00         430      10  25.500000  46.600000

              T2       RH_2         T3       RH_3         T4  ...         T9  \
0      19.200000  44.790000  19.790000  44.730000  19.000000  ...  17.033333
1      19.200000  44.722500  19.790000  44.790000  19.000000  ...  17.066667
2      19.200000  44.626667  19.790000  44.933333  18.926667  ...  17.000000
3      19.200000  44.590000  19.790000  45.000000  18.890000  ...  17.000000
4      19.200000  44.530000  19.790000  45.000000  18.890000  ...  17.000000
...          ...        ...        ...        ...        ...  ...        ...
19730  25.890000  42.025714  27.200000  41.163333  24.700000  ...  23.200000
19731  25.754000  42.080000  27.133333  41.223333  24.700000  ...  23.200000
19732  25.628571  42.768571  27.050000  41.690000  24.700000  ...  23.200000
19733  25.414000  43.036000  26.890000  41.290000  24.700000  ...  23.200000
19734  25.264286  42.971429  26.823333  41.156667  24.700000  ...  23.200000

          RH_9      T_out  Press_mm_hg     RH_out  Windspeed  Visibility  \
0      45.5300   6.600000        733.5  92.000000   7.000000   63.000000
1      45.5600   6.483333        733.6  92.000000   6.666667   59.166667
2      45.5000   6.366667        733.7  92.000000   6.333333   55.333333
3      45.4000   6.250000        733.8  92.000000   6.000000   51.500000
4      45.4000   6.133333        733.9  92.000000   5.666667   47.666667
...        ...        ...          ...        ...        ...         ...
19730  46.7900  22.733333        755.2  55.666667   3.333333   23.666667
19731  46.7900  22.600000        755.2  56.000000   3.500000   24.500000
19732  46.7900  22.466667        755.2  56.333333   3.666667   25.333333
19733  46.8175  22.333333        755.2  56.666667   3.833333   26.166667
19734  46.8450  22.200000        755.2  57.000000   4.000000   27.000000

       Tdewpoint        rv1        rv2
0       5.300000  13.275433  13.275433
1       5.200000  18.606195  18.606195
2       5.100000  28.642668  28.642668
3       5.000000  45.410389  45.410389
4       4.900000  10.084097  10.084097
...          ...        ...        ...
19730  13.333333  43.096812  43.096812
19731  13.300000  49.282940  49.282940
19732  13.266667  29.199117  29.199117
19733  13.233333   6.322784   6.322784
19734  13.200000  34.118851  34.118851

[19735 rows x 29 columns]>

In [11]:
# Next, drop the column named date as we do not want to consider it for the following exercises.

data = data.drop(columns=["date"])# function to drop the column
data.head() # printing the dataset after droppin the data column

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [13]:
# Check for categorical features in your dataset:

cols = data.columns  # total number of columns
num_cols = data._get_numeric_data().columns  # tital number of numerical columns
list(set(cols) - set(num_cols)) # results in number of categorical (non-numerical) features, if existant, need to be removed.

## The resulting list is empty, which indicates that there are no categorical features to deal with.

[]

In [14]:
# Use Python's isnull() and sum() functions to find out whether there are any missing values in each column of the dataset:

data.isnull().sum()
##  This command counts the number of null values in each column. For the dataset in use, there should not be any missing values.

Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [19]:
# Use three standard deviations as the measure to detect outliers for all features in the dataset:
    
outliers = {}
for i in range(data.shape[1]):
    min_t = data[data.columns[i]].mean() - (3 *  
            data[data.columns[i]].std())
    max_t = data[data.columns[i]].mean() + (3 *  
            data[data.columns[i]].std())
    count = 0
    for j in data[data.columns[i]]:
        if j < min_t or j > max_t:
            count += 1
    percentage = count / data.shape[0]
    outliers[data.columns[i]] = "%.3f" % percentage
    
print(outliers)

{'Appliances': '0.027', 'lights': '0.033', 'T1': '0.001', 'RH_1': '0.006', 'T2': '0.010', 'RH_2': '0.007', 'T3': '0.003', 'RH_3': '0.001', 'T4': '0.000', 'RH_4': '0.000', 'T5': '0.001', 'RH_5': '0.029', 'T6': '0.005', 'RH_6': '0.000', 'T7': '0.000', 'RH_7': '0.001', 'T8': '0.000', 'RH_8': '0.000', 'T9': '0.000', 'RH_9': '0.000', 'T_out': '0.005', 'Press_mm_hg': '0.005', 'RH_out': '0.008', 'Windspeed': '0.005', 'Visibility': '0.002', 'Tdewpoint': '0.000', 'rv1': '0.000', 'rv2': '0.000'}

In [20]:
## The resulting dictionary displays a list of all the features in the dataset, along with 
## the percentage of outliers. From these results, it is possible to conclude that there 
## is no need to deal with the outlier values, considering that they account for less 
## than 5%.

# Congratulations! You have successfully explored the dataset and dealt with potential issues.