# Building a neural network for a classification problem

In [72]:
## Import the PyTorch library, called torch, as well as the nn module from PyTorch:

import torch
import torch.nn as nn

In [73]:
# importing dataset form another file

%run Splitting_a_dataset.ipynb

<bound method NDFrame.head of        Appliances  lights         T1       RH_1         T2       RH_2  \
0              60      30  19.890000  47.596667  19.200000  44.790000
1              60      30  19.890000  46.693333  19.200000  44.722500
2              50      30  19.890000  46.300000  19.200000  44.626667
3              50      40  19.890000  46.066667  19.200000  44.590000
4              60      40  19.890000  46.333333  19.200000  44.530000
...           ...     ...        ...        ...        ...        ...
19730         100       0  25.566667  46.560000  25.890000  42.025714
19731          90       0  25.500000  46.500000  25.754000  42.080000
19732         270      10  25.500000  46.596667  25.628571  42.768571
19733         420      10  25.500000  46.990000  25.414000  43.036000
19734         430      10  25.500000  46.600000  25.264286  42.971429

              T3       RH_3         T4       RH_4  ...         T9     RH_9  \
0      19.790000  44.730000  19.000000  45.566667  ...  17.033333  45.5300
1      19.790000  44.790000  19.000000  45.992500  ...  17.066667  45.5600
2      19.790000  44.933333  18.926667  45.890000  ...  17.000000  45.5000
3      19.790000  45.000000  18.890000  45.723333  ...  17.000000  45.4000
4      19.790000  45.000000  18.890000  45.530000  ...  17.000000  45.4000
...          ...        ...        ...        ...  ...        ...      ...
19730  27.200000  41.163333  24.700000  45.590000  ...  23.200000  46.7900
19731  27.133333  41.223333  24.700000  45.590000  ...  23.200000  46.7900
19732  27.050000  41.690000  24.700000  45.730000  ...  23.200000  46.7900
19733  26.890000  41.290000  24.700000  45.790000  ...  23.200000  46.8175
19734  26.823333  41.156667  24.700000  45.963333  ...  23.200000  46.8450

       T_out  Press_mm_hg     RH_out  Windspeed  Visibility  Tdewpoint  \
0       6.60        733.5  92.000000   7.000000   63.000000        5.3
1       6.48        733.6  92.000000   6.666667   59.166667        5.2
2       6.37        733.7  92.000000   6.333333   55.333333        5.1
3       6.25        733.8  92.000000   6.000000   51.500000        5.0
4       6.13        733.9  92.000000   5.666667   47.666667        4.9
...      ...          ...        ...        ...         ...        ...
19730  22.70        755.2  55.666667   3.333333   23.666667       13.3
19731  22.60        755.2  56.000000   3.500000   24.500000       13.3
19732  22.50        755.2  56.333333   3.666667   25.333333       13.3
19733  22.30        755.2  56.666667   3.833333   26.166667       13.2
19734  22.20        755.2  57.000000   4.000000   27.000000       13.2

             rv1        rv2
0      13.275433  13.275433
1      18.606195  18.606195
2      28.642668  28.642668
3      45.410390  45.410390
4      10.084097  10.084097
...          ...        ...
19730  43.096812  43.096812
19731  49.282940  49.282940
19732  29.199117  29.199117
19733   6.322784   6.322784
19734  34.118851  34.118851

[19735 rows x 28 columns]>
(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)
(11841, 27) (11841,)
(3947, 27) (3947,)
(3947, 27) (3947,)

In [74]:
data
# data = data.drop(columns=['date'])

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.60,733.5,92.000000,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.48,733.6,92.000000,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.37,733.7,92.000000,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.25,733.8,92.000000,6.000000,51.500000,5.0,45.410390,45.410390
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.13,733.9,92.000000,5.666667,47.666667,4.9,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.70,755.2,55.666667,3.333333,23.666667,13.3,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.60,755.2,56.000000,3.500000,24.500000,13.3,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.50,755.2,56.333333,3.666667,25.333333,13.3,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.30,755.2,56.666667,3.833333,26.166667,13.2,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.20,755.2,57.000000,4.000000,27.000000,13.2,34.118851,34.118851

In [75]:
data = pd.read_csv(r"updated_file.csv")
# redo the

In [76]:
# additional
data

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [77]:
# additional
y_train

460      100
15507     60
11050    230
5970      50
4742      80
        ...
19098     50
4109      50
16495     60
16715    110
10337    100
Name: Appliances, Length: 11841, dtype: int64

In [102]:
## additional: not necessary
print(type(X_train))
print(type(y_train))

<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [103]:
## Separate the feature columns from the target, for each of the sets created in the previous exercise.
## Additionally, convert the final DataFrames into tensors:
X_train = torch.tensor(x_train.values).float()
y_train = torch.tensor(y_train.values).float()
x_dev = torch.tensor(x_dev.values).float()
y_dev = torch.tensor(y_dev.values).float()
x_test = torch.tensor(x_test.values).float()
y_test = torch.tensor(y_test.values).float()

## in capital

RuntimeError: Could not infer dtype of builtin_function_or_method

In [104]:
## additional: not necessary
print(type(X_train))
print(type(y_train))

<class 'torch.Tensor'>
<class 'torch.Tensor'>

In [89]:
## Define the architecture of the network. Feel free to try different combinations for the number of layers and the number of units per layer:
model = nn.Sequential(nn.Linear(x_train.shape[1], 10),
                        nn.ReLU(),
                        nn.Linear(10, 7),
                        nn.ReLU(),
                        nn.Linear(7, 5),
                        nn.ReLU(),
                        nn.Linear(5, 1))

In [86]:
## Define the loss function and the optimizer algorithm:
loss_function = torch.nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

print(optimizer)

Adam (
Parameter Group 0
    amsgrad: False
    betas: (0.9, 0.999)
    capturable: False
    differentiable: False
    eps: 1e-08
    foreach: None
    fused: None
    lr: 0.01
    maximize: False
    weight_decay: 0
)

In [113]:
# additional
print(X_train.shape)
print(y_pred.shape)
print(y_test.shape)

torch.Size([11841, 27])
torch.Size([11841, 1])
torch.Size([3947])

In [108]:
## Use a for loop to train the network for 100 iteration steps:##doing it a 1000
for i in range(100):
    y_pred = model(X_train)
    loss = loss_function(y_pred, y_train)
    print(i, loss.item())
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

0 20509.287109375
1 20509.287109375
2 20509.287109375
3 20509.287109375
4 20509.287109375
5 20509.287109375
6 20509.287109375
7 20509.287109375
8 20509.287109375
9 20509.287109375
10 20509.287109375
11 20509.287109375
12 20509.287109375
13 20509.287109375
14 20509.287109375
15 20509.287109375
16 20509.287109375
17 20509.287109375
18 20509.287109375
19 20509.287109375
20 20509.287109375
21 20509.287109375
22 20509.287109375
23 20509.287109375
24 20509.287109375
25 20509.287109375
26 20509.287109375
27 20509.287109375
28 20509.287109375
29 20509.287109375
30 20509.287109375
31 20509.287109375
32 20509.287109375
33 20509.287109375
34 20509.287109375
35 20509.287109375
36 20509.287109375
37 20509.287109375
38 20509.287109375
39 20509.287109375
40 20509.287109375
41 20509.287109375
42 20509.287109375
43 20509.287109375
44 20509.287109375
45 20509.287109375
46 20509.287109375
47 20509.287109375
48 20509.287109375
49 20509.287109375
50 20509.287109375
51 20509.287109375
52 20509.287109375
53 20509.287109375
54 20509.287109375
55 20509.287109375
56 20509.287109375
57 20509.287109375
58 20509.287109375
59 20509.287109375
60 20509.287109375
61 20509.287109375
62 20509.287109375
63 20509.287109375
64 20509.287109375
65 20509.287109375
66 20509.287109375
67 20509.287109375
68 20509.287109375
69 20509.287109375
70 20509.287109375
71 20509.287109375
72 20509.287109375
73 20509.287109375
74 20509.287109375
75 20509.287109375
76 20509.287109375
77 20509.287109375
78 20509.287109375
79 20509.287109375
80 20509.287109375
81 20509.287109375
82 20509.287109375
83 20509.287109375
84 20509.287109375
85 20509.287109375
86 20509.287109375
87 20509.287109375
88 20509.287109375
89 20509.287109375
90 20509.287109375
91 20509.287109375
92 20509.287109375
93 20509.287109375
94 20509.287109375
95 20509.287109375
96 20509.287109375
97 20509.287109375
98 20509.287109375
99 20509.287109375

In [110]:
## Test your model by performing a prediction on the first instance of the testing set and comparing it to the ground truth:
pred = model(x_test[0])
print(y_test[0], pred)

tensor(710.) tensor([-1.1839], grad_fn=<ViewBackward0>)